<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./static/css/category.css">
    <script type="module" src="./static/js/category.js"></script>
    <!-- CSS Library -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>

<body>
    <div class="container shadow" style="padding: 3rem; margin-top: 10rem;background-color: #4BBADC;">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="exampleDropdown">#1 # Dropdown Select with "data-live-search" </label>
                    <select id="supplier" data-live-search="true" class="form-control show-tick selectpicker">
                        <!-- <option>Mango</option>
                        <option>Orange</option>
                        <option>Lychee</option>
                        <option>Pineapple</option>
                        <option>Apple</option>
                        <option>Banana</option>
                        <option>Grapes</option>
                        <option>Water Melon</option>
                        <option>Mango</option>
                        <option>Orange</option> -->
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container shadow" style="padding: 3rem; margin-top: 2rem;background-color: #4BBADC;text-align: center;">
        <div class="row">
            <div class="col-md-3 fix_padd fix_border" style="display: flex;align-items: center; justify-content: center;">SUPLIER</div>
            <div class="col-md-9 fix_padd">
                <div class="row">
                    <div class="col-md-3 fix_padd fix_border" style="display: flex;align-items: center; justify-content: center;">Name</div>
                    <div class="col-md-9 fix_padd fix_border">B</div>
                </div>
                <div class="row">
                    <div class="col-md-3 fix_padd fix_border" style="display: flex;align-items: center; justify-content: center;">Phone Number</div>
                    <div class="col-md-9 fix_padd">
                        <div class="row">
                            <div class="col-md-12 fix_padd fix_border ">B</div>
                            <div class="col-md-12 fix_padd fix_border ">B</div>
                            <div class="col-md-12 fix_padd fix_border ">B</div>
                            <div class="col-md-12 fix_padd fix_border">B</div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 fix_padd fix_border" style="display: flex;align-items: center; justify-content: center;">Tax Code</div>
                    <div class="col-md-9 fix_padd fix_border">B</div>
                </div>
                <div class="row">
                    <div class="col-md-3 fix_padd fix_border" style="display: flex;align-items: center; justify-content: center;">Address</div>
                    <div class="col-md-9 fix_padd fix_border">C</div>
                </div>
                <div class="row">
                    <div class="col-md-3 fix_padd fix_border" style="display: flex;align-items: center; justify-content: center;">Bank Account</div>
                    <div class="col-md-9 fix_padd fix_border">D</div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12 containerCategory">
                <h1>Fabric Agency Category</h1>
                <table class="style_table" border="1">
                    <tr>
                        <th style="width: 20%;" rowspan="5">SUPLIER</th>
                        <th style="width: 20%;">Name</th>
                        <td>ABCr</th>
                    </tr>
                    <tr>
                        <th style="width: 20%;">Phone Number</td>
                            <td>0917565059</td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">Tax Code</td>
                            <td>0917565059</td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">Address</td>
                            <td>0917565059</td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">Bank Account</td>
                            <td>0917565059</td>
                    </tr>
                </table>
            </div>
        </div> -->
        <br>

        <div id="table_category"></div>
        <!-- <section style="text-align: center;">
            <div class="row">
                <div class="col-md-2 fix_padd category_head">Category Name</div>
                <div class="col-md-2 fix_padd category_head">Category Color</div>
                <div class="col-md-2 fix_padd category_head">Category Quantity</div>
                <div class="col-md-6 fix_padd" style="border: solid 1px black">Selling Price
                    <div class="row">
                        <div class="col-md-6 fix_padd" style="border-right: solid 1px black;border-top: solid 1px black">Date</div>
                        <div class="col-md-6 fix_padd" style="border-top: solid 1px black">Price</div>
                    </div>
                </div>
            </div> -->
            <!-- bắt đầu tạo mới-->
            <!-- <div class="row">
                <div class="col-md-2 fix_padd fix_border" style="display: flex;align-items: center; justify-content: center;">A</div>
                <div class="col-md-2 fix_padd fix_border" style=" display: flex;align-items: center; justify-content: center;">B</div>
                <div class="col-md-2 fix_padd fix_border" style="display: flex;align-items: center; justify-content: center;">C</div>
                <div class="col-md-6 fix_padd"> -->
                    <!-- tạo mới cùng loại -->
                    <!-- <div class="row">
                        <div class="col-md-6 fix_padd fix_border">A</div>
                        <div class="col-md-6 fix_padd fix_border">B</div>
                    </div> -->
                    <!-- kết thúc tạo mới cùng loại -->
                    <!-- ví dụ -->
                    <!-- <div class="row">
                        <div class="col-md-6 fix_padd fix_border">A</div>
                        <div class="col-md-6 fix_padd fix_border">Bcd</div>
                    </div> -->
                    <!-- kết thúc ví dụ -->
                <!-- </div>
            </div> -->
            <!-- Kết thúc tạo mới -->
            <!-- ví dụ -->
            <!-- <div class="row">
                <div class="col-md-2 fix_padd fix_border" style="display: flex;align-items: center; justify-content: center;">A</div>
                <div class="col-md-2 fix_padd fix_border" style=" display: flex;align-items: center; justify-content: center;">B</div>
                <div class="col-md-2 fix_padd fix_border" style="display: flex;align-items: center; justify-content: center;">C</div>
                <div class="col-md-6 fix_padd">
                    <div class="row">
                        <div class="col-md-6 fix_padd fix_border">A</div>
                        <div class="col-md-6 fix_padd fix_border">B</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 fix_padd fix_border">A</div>
                        <div class="col-md-6 fix_padd fix_border">B</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 fix_padd fix_border">A</div>
                        <div class="col-md-6 fix_padd fix_border">B</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 fix_padd fix_border">A</div>
                        <div class="col-md-6 fix_padd fix_border">B</div>
                    </div>
                </div>
            </div> -->
            <!-- kết thúc ví dụ -->

        </section>
</body>

</html>