<tr>
    <td>categoryName</td>
    <td>B</td>
    <td>C</td>
    <td>D</td>
    <td class="tooltip">
        E
        <div class="tooltiptext">
            <div class="Supplier_InfoPopup">
                <div>Name: %supplierName%</div>
                <div>Address: %address%</div>
                <div>Tax Code: %taxCode%</div>
                <div>Bank Account: %bankAccount%</div>
                <div class="phone-numbers">Phone:
                </div>
            </div>
        </div>
    </td>
</tr>