.group-row {
    margin-bottom: 30px;
    margin-top: 30px;
}

.required {
    color: red;
}

.input_field {
    height: 35px;
}

.schedule_add_btn {
    background-color: #4BBADC;
    border-radius: 50px;
    border: 2px solid black;
    padding: 5px 20px;
}

.disable {
    background-color: grey;
}

.schedule_add_btn:focus {
    outline: none;
}

.schedule_add_label {
    color: white;
}

.schedule_add_icon {
    margin-left: 10px;
    color: white;
}

.schedule_icon {
    background-color: transparent;
    outline: none;
    border: none;
    margin-right: 20px;
}

.schedule_icon:focus {
    outline: none;
}

.schedule_icon i {
    font-size: 20px;
}

.schedule_icon i:hover {
    font-size: 30px;
    transition: .3s;
}

.registerSupplier-submit-btn {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #4BBADC;
    border: 2px solid black;
    color: #ffffff
}

.registerSupplier-submit-btn:focus {
    outline: none;
}

.addInfo {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addInfo__form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.addInfo::before {
    content: "Add Supplier Information";
    color: black;
    font-size: 32px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}