.register-form {
    position: relative;
    margin-top: 20px;
    border-radius: 2px;
    background-color: #fff;
}

.form__title {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    background-color: #4BBADC;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.form__body {
    width: 100%;
}

.group-row {
    margin-bottom: 30px;
    margin-top: 30px;
}

.form__field--format {
    color: #4BBADC;
    font-size: 18px;
    font-weight: 700;
}

.required {
    color: red;
}

.input-label {
    margin-right: 15px;
    font-weight: 700;
}

.schedule_add_btn {
    background-color: #4BBADC;
    border-radius: 100px;
    padding: 10px;
}

.disable {
    background-color: grey;
}

.schedule_add_btn:focus {
    outline: none;
}

.schedule_add_label {
    color: white;
}

.schedule_add_icon {
    margin-left: 10px;
    color: white;
}

.schedule_icon {
    background-color: transparent;
    margin-right: 20px;
}

.schedule_icon:focus {
    outline: none;
}

.schedule_icon i {
    font-size: 20px;
}

.schedule_icon i:hover {
    font-size: 30px;
    transition: .3s;
}

.class_description {
    border: 1px solid black;
    padding: 10px;
    min-height: 150px;
    width: 80%;
}

.registerClass-submit-btn {
    padding: 20px 40px;
    border-radius: 50px;
    background-color: #4BBADC;
    color: #ffffff
}

.registerClass-submit-btn:focus {
    outline: none;
}

.container_addInfo {
    border: solid black 1px;
}