.group-row {
    margin-bottom: 30px;
    margin-top: 30px;
}

.required {
    color: red;
}

.input_field {
    height: 35px;
    border: 2px #4BBADC solid;
}

.input_field:focus {
    outline: #4BBADC;
}

.schedule_add_btn {
    background-color: #4BBADC;
    border-radius: 50px;
    border: 2px solid black;
    padding: 5px 20px;
}

.disable {
    background-color: grey;
}

.schedule_add_btn:focus {
    outline: none;
}

@keyframes btnColor {
    0% {
        background-color: #4BBADC;
    }
    50% {
        background-color: grey;
    }
    100% {
        background-color: #4BBADC;
    }
}

.schedule_add_btn:hover {
    animation-name: btnColor;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

.schedule_add_label {
    color: white;
}

.schedule_add_icon {
    margin-left: 10px;
    color: white;
}

.schedule_icon {
    background-color: transparent;
    outline: none;
    border: none;
    margin-right: 20px;
}

.schedule_icon:focus {
    outline: none;
}

.schedule_icon i {
    font-size: 20px;
}

.schedule_icon i:hover {
    font-size: 30px;
    transition: .3s;
}

.registerSupplier-submit-btn {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #4BBADC;
    border: 2px solid black;
    color: #ffffff
}

.registerSupplier-submit-btn:focus {
    outline: none;
}

.registerSupplier-submit-btn:hover {
    animation-name: btnColor;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

.addInfo {
    position: absolute;
    width: 100%;
    transform: translate(0%, 50%);
    /* top: 50%;
    left: 50%;
    transform: translate(-49%, -40%); */
}

.addInfo__form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid black; */
    background-color: white;
    height: 100%;
}

.addInfo::before {
    content: "Add Supplier Information";
    color: black;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.addBGPic {
    height: 87vh;
    background: #4BBADC;
}

.text-left {
    text-align: right;
}