.row {
    margin-left: 0px;
    margin-right: 0px;
}

.fix_padd {
    padding-left: 0;
    padding-right: 0;
}

.fix_border {
    border: solid 1px black;
}

.style_table {
    width: inherit;
}

#orderReport {
    border: 1px solid black;
    border-collapse: collapse;
}

#orderReport th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.tooltip {
    position: relative;
    opacity: 1;
    z-index: unset;
    display: table-cell !important;
}

.containerCategory {
    text-align: center;
}

.style_table {
    width: inherit;
}

.category_head {
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}