.row {
    margin-left: -5px;
    margin-right: -5px;
}

.containerCategory {
    text-align: center;
}

.btnRegister {
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #4BBADC;
    color: #fff;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

.style_table {
    width: inherit;
}

.tooltip {
    position: relative;
    opacity: 1;
    z-index: unset;
    display: table-cell !important;
    text-align: center;
}

.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 200px; */
    background-color: darkcyan;
    color: #fff;
    /* text-align: center; */
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0%;
}

.tooltip:hover {
    background-color: orange;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext:hover {
    display: none;
}

.Supplier_InfoPopup {
    width: max-content;
    padding: 10px;
    text-align: initial;
}